# Default
/shelf/
/workspace.xml

# IDE
.idea/
*.iml
*.iws
bin/
.project
.classpath
.settings/

# Maven
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/log/

# DB
*.db

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Outros
*.class
