# Default
/shelf/
/workspace.xml

# IDE
.idea/
*.iml
*.iws

# Maven
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/log/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Outros
*.class
